@import "tailwindcss";

:root {
  --background: #e9ecef;
  --foreground: #171717;
  --back: #f8f9fa; 
  --WhenHover: #d7d7d7b9;
}

@theme inline {
  --color-background: var(--background);
  --color-back: var(--back);
  --color-WhenHover: var(--WhenHover);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --back: #1c1c1c; 
  --WhenHover: #2e2e2eb9;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 9999px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
